<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
  <style type="text/css" media="screen">

    .gr_custom_container_ {
      /* customize your Goodreads widget container here*/
      border: 1px solid gray;
      border-radius:10px;
      padding: 10px 5px 10px 5px;
      background-color: #000;
      color: #FFF;
      width: 100%;
    }

    .gr_custom_header_ {
      /* customize your Goodreads header here*/
      border-bottom: 1px solid gray;
      width: 100%;
      margin-bottom: 5px;
      text-align: center;
      font-size: 120%
    }

    .gr_custom_each_container_ {
      /* customize each individual book container here */
      width: 100%;
      clear: both;
      margin-bottom: 10px;
      overflow: auto;
      padding-bottom: 4px;
      border-bottom: 1px solid #aaa;
    }

    .gr_custom_book_container_ {
      /* customize your book covers here */
      overflow: hidden;
      height: 60px;
      float: left;
      margin-right: 4px;
      width: 39px;
    }

    .gr_custom_author_ {
      /* customize your author names here */
      font-size: 10px;
    }

    .gr_custom_tags_ {
      /* customize your tags here */
      font-size: 10px;
      color: gray;
    }

    .gr_custom_rating_ {
      /* customize your rating stars here */
      float: right;
    }
  </style>

  <div id="gr_custom_widget_">
    <div class="gr_custom_container_">
      <h2 class="gr_custom_header_">
        <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/22437975-david?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget">David&#39;s books</a>
      </h2>
        <div class="gr_custom_each_container_">
          <div class="gr_custom_book_container_">
            <a title="Dungeons &amp; Dragons Lore &amp; Legends: A Visual Celebration of the Fifth Edition of the World's Greatest Roleplaying Game" rel="nofollow" href="https://www.goodreads.com/review/show/8706901154?utm_medium=api&amp;utm_source=custom_widget"><img alt="Dungeons &amp; Dragons Lore &amp; Legends: A Visual Celebration of the Fifth Edition of the World's Greatest Roleplaying Game" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1684802127l/98841994._SX50_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_">
            <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/8706901154?utm_medium=api&amp;utm_source=custom_widget">Dungeons &amp; Dragons Lore &amp; Legends: A Visual Celebration of the Fifth Edition of the World's Greatest Roleplaying Game</a>
          </div>

          <div class="gr_custom_author_">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/10804021.Michael_Witwer">Michael Witwer</a>
          </div>
        </div>
        <div class="gr_custom_each_container_">
          <div class="gr_custom_book_container_">
            <a title="Explaining AuDHD: The expert-led guide to Autism and ADHD Co-concurrence (Explaining... Series)" rel="nofollow" href="https://www.goodreads.com/review/show/8667623288?utm_medium=api&amp;utm_source=custom_widget"><img alt="Explaining AuDHD: The expert-led guide to Autism and ADHD Co-concurrence" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1741373244l/228884543._SY75_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_">
            <span class=" staticStars notranslate" title="it was amazing"><img alt="it was amazing" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /></span>
          </div>

          <div class="gr_custom_title_">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/8667623288?utm_medium=api&amp;utm_source=custom_widget">Explaining AuDHD: The expert-led guide to Autism and ADHD Co-concurrence</a>
          </div>

          <div class="gr_custom_author_">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/55114428.Khurram_Sadiq">Khurram Sadiq</a>
          </div>
        </div>

        <div class="gr_custom_each_container_">
          <div class="gr_custom_book_container_">
            <a title="The Smart but Scattered Guide to Success: How to Use Your Brain's Executive Skills to Keep Up, Stay Calm, and Get Organized at Work and at Home" rel="nofollow" href="https://www.goodreads.com/review/show/8465582395?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Smart but Scattered Guide to Success: How to Use Your Brain's Executive Skills to Keep Up, Stay Calm, and Get Organized at Work and at Home" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1447139091l/25404196._SY75_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_">
            <span class=" staticStars notranslate" title="it was amazing"><img alt="it was amazing" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /></span>
          </div>
          <div class="gr_custom_title_">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/8465582395?utm_medium=api&amp;utm_source=custom_widget">The Smart but Scattered Guide to Success: How to Use Your Brain's Executive Skills to Keep Up, Stay Calm, and Get Organized at Work and at Home</a>
          </div>
          <div class="gr_custom_author_">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/95538.Peg_Dawson">Peg Dawson</a>
          </div>
        </div>
        <div class="gr_custom_each_container_">
          <div class="gr_custom_book_container_">
            <a title="Brave New World: A Graphic Novel" rel="nofollow" href="https://www.goodreads.com/review/show/8321510360?utm_medium=api&amp;utm_source=custom_widget"><img alt="Brave New World: A Graphic Novel" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1640548550l/58444853._SX50_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_">
            <span class=" staticStars notranslate" title="really liked it"><img alt="really liked it" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_active.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/8321510360?utm_medium=api&amp;utm_source=custom_widget">Brave New World: A Graphic Novel</a>
          </div>
          <div class="gr_custom_author_">
              by <a rel="nofollow" href="https://www.goodreads.com/author/show/15502566.Fred_Fordham">Fred Fordham</a>
          </div>
          <div class="gr_custom_review_">
            This classic novel still has a lot to say about modern society and the direction we are going in.
            I guess the central concept surprised me - it seemed to me to be about fidelity in relationships.
            This was a bigger concern at the time t...
          </div>
        </div>

        <div class="gr_custom_each_container_">
          <div class="gr_custom_book_container_">
            <a title="Know Your Traffic Signs" rel="nofollow" href="https://www.goodreads.com/review/show/8267066832?utm_medium=api&amp;utm_source=custom_widget"><img alt="Know Your Traffic Signs" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1699307504l/201739631._SY75_.jpg" /></a>
          </div>
          <div class="gr_custom_rating_">
            <span class=" staticStars notranslate"><img src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /><img alt="" src="https://s.gr-assets.com/images/layout/gr_red_star_inactive.png" /></span>
          </div>
          <div class="gr_custom_title_">
            <a rel="nofollow" href="https://www.goodreads.com/review/show/8267066832?utm_medium=api&amp;utm_source=custom_widget">Know Your Traffic Signs</a>
          </div>
          <div class="gr_custom_author_">
            by <a rel="nofollow" href="https://www.goodreads.com/author/show/22294257.Unknown_Author">Unknown Author</a>
          </div>
        </div>

    <br style="clear: both"/>
    <center>
      <a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
    </center>

    <noscript>
      Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with David, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
    </noscript>
    </div>
    </div>
    <script src="https://www.goodreads.com/review/custom_widget/22437975.David's%20bookshelf:%20read?cover_position=&cover_size=&num_books=5&order=&shelf=&sort=&widget_bg_transparent=" type="text/javascript" charset="utf-8"></script>
    <br/>
