{{- if .Params.cover.image -}}
<meta name="x:card" content="summary_large_image">
{{- if (ne $.Params.cover.relative true) }}
<meta name="x:image" content="{{ .Params.cover.image | absURL }}">
{{- else }}
<meta name="x:image" content="{{ (path.Join .RelPermalink .Params.cover.image ) | absURL }}">
{{- end}}
{{- else }}
{{- $images := partial "templates/_funcs/get-page-images" . -}}
{{- with index $images 0 -}}
<meta name="x:card" content="summary_large_image">
<meta name="x:image" content="{{ .Permalink }}">
{{- else -}}
<meta name="x:card" content="summary">
{{- end -}}
{{- end }}
<meta name="x:title" content="{{ .Title }}">
<meta name="x:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">

{{- $xSite := "" }}
{{- with site.Params.social }}
  {{- if reflect.IsMap . }}
    {{- with .x }}
      {{- $content := . }}
      {{- if not (strings.HasPrefix . "@") }}
        {{- $content = printf "@%v" . }}
      {{- end }}
      <meta name="x:site" content="{{ $content }}">
    {{- end }}
  {{- end }}
{{- end }}
